In [71]:
import pandas as pd
import numpy as np

In [72]:
tem1 = pd.read_csv('D:\\tem.csv')

In [73]:
tem1

       Latitude  Longitude  Time of Observation  Sea Surface Temperature
0          57.2        0.8  2015-07-01T00:00:00                     54.3
1          50.9        1.3  2015-07-01T00:00:00                     59.0
2          51.2        1.8  2015-07-01T00:00:00                     59.7
3          51.4        2.0  2015-07-01T00:00:00                     59.4
4          56.5        3.2  2015-07-01T00:00:00                     55.2
...         ...        ...                  ...                      ...
25508      54.2        7.9  2018-07-01T23:00:00                     64.2
25509      55.0        8.0  2018-07-01T23:00:00                     62.6
25510      54.8        8.2  2018-07-01T23:00:00                     62.1
25511      54.0        8.2  2018-07-01T23:00:00                     62.2
25512      55.7        1.0  2018-07-01T23:00:00                     61.2

[25513 rows x 4 columns]

In [74]:
tem1['Latitude1']=0

In [75]:
tem1['Longitude1']=0

In [76]:
tem2=tem1
tem2

,Latitude,Longitude,Time of Observation,Sea Surface Temperature,Latitude1,Longitude1
0,57.2,0.8,2015-07-01T00:00:00,54.3,0,0
1,50.9,1.3,2015-07-01T00:00:00,59.0,0,0
2,51.2,1.8,2015-07-01T00:00:00,59.7,0,0
3,51.4,2.0,2015-07-01T00:00:00,59.4,0,0
4,56.5,3.2,2015-07-01T00:00:00,55.2,0,0
...,...,...,...,...,...,...
25508,54.2,7.9,2018-07-01T23:00:00,64.2,0,0
25509,55.0,8.0,2018-07-01T23:00:00,62.6,0,0
25510,54.8,8.2,2018-07-01T23:00:00,62.1,0,0
25511,54.0,8.2,2018-07-01T23:00:00,62.2,0,0
25512,55.7,1.0,2018-07-01T23:00:00,61.2,0,0

In [78]:
def f1(df):
    for i in range(10):
            if ((50+0.9*i)<=df['Latitude'] and df['Latitude']<=(50+0.9*(i+1))):
                return 50+0.9*i+0.4
    i=0
def f2(df):
    for i in range(10):
             if (0.85*i<=df['Longitude'] and df['Longitude']<=0.85*(i+1)):
                return 0.85*i+0.425
    i=0

In [79]:
tem2['Latitude1']=tem2.apply(lambda r:f1(r),axis=1)

In [80]:
tem2['Longitude1']=tem2.apply(lambda r:f2(r),axis=1)

In [81]:
tem2

,Latitude,Longitude,Time of Observation,Sea Surface Temperature,Latitude1,Longitude1
0,57.2,0.8,2015-07-01T00:00:00,54.3,56.7,0.425
1,50.9,1.3,2015-07-01T00:00:00,59.0,50.4,1.275
2,51.2,1.8,2015-07-01T00:00:00,59.7,51.3,2.125
3,51.4,2.0,2015-07-01T00:00:00,59.4,51.3,2.125
4,56.5,3.2,2015-07-01T00:00:00,55.2,56.7,2.975
...,...,...,...,...,...,...
25508,54.2,7.9,2018-07-01T23:00:00,64.2,54.0,8.075
25509,55.0,8.0,2018-07-01T23:00:00,62.6,54.9,8.075
25510,54.8,8.2,2018-07-01T23:00:00,62.1,54.9,8.075
25511,54.0,8.2,2018-07-01T23:00:00,62.2,54.0,8.075
25512,55.7,1.0,2018-07-01T23:00:00,61.2,55.8,1.275

In [82]:
tem2.to_csv('tem2.csv',index=False)